<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Joe Scopelliti</title>
</head>
<body>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo">
    <!-- Defining the header type 1 -->
    <h1>This is a page about Joe Scopelliti</h1>
    <!-- Section of website descibing Joe-->
    <h2>Early Life of Joe</h2>
    <p>This section will describe the things that occurred in Joe's early life and <em>general</em> fun facts.</p>
    <p>
        <ul>
            <li>At the age of 10, he got dog. A <strong>goldendoodle</strong>, more specifically.</li>
            <li>He has an older sister and a younger sister.</li>
            <li>His birthday is October 11th.</li>
            <li>He was a swimmer from <em>3rd grade until college</em>.</li>
        </ul>
    </p>
    <!--Details on Joe's swim career-->
    <p>This section will order Joe's top 5 <strong>favorite</strong> events to swim.</p>
    <p>
        <ol>
            <li>100 Backstroke</li>
            <li>50 Freestyle</li>
            <li>100 Freestyle</li>
            <li>200 Backstroke</li>
            <li>100 Butterfly</li>
        </ol>
    </p>
    <h2>College Career of Joe</h2>
    <table>
        <tr>
            <th>Semester</th>
            <th>Course Taken</th>
        </tr>
        <tr>
            <td>Spring 2021</td>
            <td>COMM 107</td>
        </tr>
        <tr>
            <td>Fall 2021</td>
            <td>BMGT 340</td>
        </tr>
        <tr>
            <td>Fall 2022</td>
            <td>BMGT 343</td>
        </tr>
    </table>
    <h2>Joe's Favorite Websites</h2>
    <p>This is a link to <a href="https://www.youtube.com/" target="_blank">YouTube</a>.</p>
    <p>Here is a link to <a href="https://www.wsj.com/">The Wall Street Journal</a>.</p>
    <p>Lastly, <a href="/hello">this link</a> will take you to my hello.html page.</p>
</body>
</html>